{% extends 'base.html' %}
{% load static %}

{% block content %}

        {% for service in object_list %}
            <<div class="card" style="width: 18rem;">
              <img src="{{ service.image }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ service.name }}</h5>
                <p class="card-text">{{ service.description }}</p>
                <a href="{% url 'main:service_detail' service.pk %}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
        {% endfor %}

{% endblock %}