{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row">
    <div class="card">
      <h5 class="card-header">О компании</h5>
      <div class="card-body">
        <h5 class="card-title">Наша история</h5>
        <p class="card-text">Жила-была одна медицинская диагностическая компания. Называлась она «Здоровье XXI века».
            Компания занималась тем, что разрабатывала новые методы диагностики различных заболеваний. В штате компании
            работали лучшие специалисты своего дела – врачи, ученые, инженеры и программисты. Они трудились над
            созданием новых технологий, которые могли бы улучшить качество жизни людей.
            Однажды к ним обратилась молодая женщина, которая страдала от сильных головных болей. Она уже побывала у
            многих врачей, но ни один из них не мог поставить ей точный диагноз. Специалисты из «Здоровья XXI века»
            решили помочь этой женщине. Они провели множество тестов и анализов, используя самые современные технологии.
            В результате им удалось выявить причину ее головных болей – это было редкое заболевание, которое ранее
            считалось неизлечимым. Но благодаря новым методам диагностики, специалисты смогли подобрать для нее
            эффективное лечение. Женщина была очень благодарна сотрудникам компании и рекомендовала их услуги своим
            друзьям и знакомым.
            С тех пор количество клиентов «Здоровья XXI века» начало расти. Люди стали обращаться к ним со своими
            проблемами, надеясь получить качественную помощь. Специалисты компании продолжали работать над новыми
            технологиями и методами диагностики, чтобы помочь еще большему количеству людей. Они проводили исследования,
            участвовали в научных конференциях и делились своими знаниями с коллегами из других стран.
            Со временем «Здоровье XXI века» стало одной из ведущих компаний в области медицинской диагностики. Их методы
            и технологии стали использоваться в клиниках по всему миру. Благодаря их работе, многие люди получили
            возможность жить здоровой и полноценной жизнью. Это был настоящий успех!</p>
      </div>

    </div>
    <div class="row">
            <h5>Наша команда</h5>
        {% for doctor in doctors %}
            <div class="card" style="width: 18rem;">
              <img src="{{ doctor.avatar }}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ doctor.name }}</h5>
                <p class="card-text">{{ doctor.description }}</p>
              </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}