{% extends 'base.html' %}

{% block content %}

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Почему Вы здесь?</h1>
            <p class="opacity-75">На нашем сайте вы найдете все необходимое для проведения точной и быстрой медицинской
              диагностики. Мы предлагаем широкий спектр услуг, включая лабораторные анализы, ультразвуковые
              исследования, рентгенологические обследования и многое другое. Наша команда профессионалов использует
              современное оборудование и методы диагностики, чтобы гарантировать высокую точность результатов.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption">
            <h1>Чем мы можем Вам помочь?</h1>
            <p>Мы также предоставляем консультации специалистов и рекомендации по дальнейшим действиям после получения
              результатов. У нас вы можете получить полную информацию о своем здоровье и возможных заболеваниях,
              а также узнать о методах их лечения и профилактики.
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg>
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Наша цель</h1>
            <p>Наша главная цель – предоставить нашим клиентам высококачественные услуги и помочь им сохранить свое
              здоровье. Обращайтесь к нам, и мы поможем вам оставаться здоровыми и счастливыми!</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="row">
    <div class="row justify-content-md-center">
        <h5>Наши услуги</h5>
    </div>

    {% for service in services %}
        <div class="col-2">
            <div class="card" style="width: 18rem;">
                <img src="{{ service.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ service.name }}</h5>
                    <p class="card-text">{{ service.description }}</p>
                    <a href="{% url 'main:service_detail' service.pk %}" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    {% endfor %}
  </div>

<div>
    <div class="row">
        <div>
            <h5>Наша команда</h5>
        </div>
        {% for doctor in doctors %}
            <div class="col-2">
                <div class="card" style="width: 18rem;">
                  <img src="{{ doctor.avatar }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ doctor.name }}</h5>
                    <p class="card-text">{{ doctor.description }}</p>
                  </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="row">
    <h5>Контакты</h5>
    <div class="container">
    {% for contact in contacts %}
    <table class="table table-striped">
        <tr>
            <td class="w-25"> Адрес </td>
            <td>{{ contact.address }}</td>
        </tr>
        <tr>
            <td class="w-25">Телефон</td>
            <td>{{ contact.phone }}</td>
        </tr>
        <tr>
            <td class="w-25">Почта</td>
            <td>{{ contact.email }}</td>
        </tr>
        <tr>
            <td class="w-25">Карта проезда</td>
            <td><img src="{{ contact.image }}"></td>
        </tr>
    </table>
    {% endfor %}
    </div>
</div>

</div><!-- /.container -->

{% endblock %}